asgiref==3.4.1
autopep8==1.6.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==4.0.3
django-admin-interface==0.19.0
django-colorfield==0.6.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
Pillow==8.2.0
psycopg2==2.9.3
pytest==5.4.1
pytest-django==3.9.0
python-barcode==0.13.1
python-decouple==3.0
requests==2.27.1
responses==0.20.0
sqlparse==0.4.2
tzdata==2021.5


