{% extends "base.html" %} {% block content %}
<section class="checkout_area section_gap">
  <div class="container">
    {% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}}" id="alert">{{message}}</div>
{% endfor %}
{% endif %}
<section class="filters">
  <ul class="filters-content">
    <button class="filters__button is-active" data-target="#desk">
     Stop desk
    </button>
    <button class="filters__button" data-target="#home">
      a maison
    </button>
  </ul>

  <div>
    <div data-content class="is-active" id="desk">
      <div class="billing_details pt-5">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form id="form" class="row contact_form" method="post">
              {% csrf_token %}
              {% if not user.is_authenticated %}
              <div class="col-md-6 form-group p_star">
                <input
                  required
                  type="text"
                  class="form-control"
                  id="first"
                  placeholder="First Name"
                  name="name"
                />
              </div> 
  
                <div class="col-md-6 form-group p_star">
                <input
                  class="form-control"
                  placeholder="Phone Number"
                  type="tel"
                  id="phone"
                  name="phone"
                  pattern="0[5-7]{1}[0-9]{8}"
                  required
                />
              </div>
              {% endif %}
              <div class="col-md-6 form-group p_star">
                <select class="custom-select w-75 wilaya" name="wilaya" id="wilaya">
                </select>
              </div>
              
              <div class="col-md-6 form-group p_star">
                <select class="custom-select w-75" name="commun" id="commun">
                </select>
              </div>
              
              <div class="col-md-12 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="city"
                  name="city"
                  required
                />
              </div>
              <div class="col-md-12 form-group">
                <input
                  required
                  type="text"
                  class="form-control"
                  id="zip"
                  name="zipcode"
                  placeholder="Postcode/ZIP"
                />
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  required
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Address"
                  name="address"
                />
              </div>
              <div class="col-md-12 form-group">
                {% if not user.is_authenticated %}
                <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector" />
                  <label for="f-option2">Create an account?</label>
                </div>
                {% endif %}
              </div>
             
              <div  class="col-md-12" class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <div 
              class="col-md-12"
              style="width: 100%">
                <button
                  style="width: 200px"
                  class="primary-btn btn-checkout my-4"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product <span>Total</span></a>
                </li>
                {% for item in items %}
                <li>
                  <a href="{% url 'single-product' item.product.id  %}"
                    >{{item.product.name}}<span class="middle"
                      >x{{item.quantity}}</span
                    >
                    <span class="last">${{item.product.price}}</span></a
                  >
                </li>
                {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal <span>${{order.get_cart_total}}</span></a>
                </li>
                <li>
                  <a href="#" >Shipping <span id='shipping'></span></a>
                </li>
                <li>
                  <a href="#">Total <span>${{order.get_cart_total}}</span></a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" />
                  <label for="f-option5">Check payments</label>
                  <div class="check"></div>
                </div>
                <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p>
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Paypal </label>
                  <div class="check"></div>
                </div>
                <p>
                  Pay via PayPal; you can pay with your credit card if you don’t
                  have a PayPal account.
                </p>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <a class="primary-btn" href="#">Proceed to Paypal</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-content id="home">
      <div class="billing_details pt-5">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <form id="form" class="row contact_form" method="post">
              {% csrf_token %}
              {% if not user.is_authenticated %}
              <div class="col-md-6 form-group p_star">
                <input
                  required
                  type="text"
                  class="form-control"
                  id="first"
                  placeholder="First Name"
                  name="name"
                />
              </div> 
  
                <div class="col-md-6 form-group p_star">
                <input
                  class="form-control"
                  placeholder="Phone Number"
                  type="tel"
                  id="phone"
                  name="phone"
                  pattern="0[5-7]{1}[0-9]{8}"
                  required
                />
              </div>
              {% endif %}
              <div class="col-md-6 form-group p_star">
                <select class="custom-select w-75 wilaya" id="wilaya">
                </select>
              </div>
              
              <div class="col-md-6 form-group p_star">
                <select class="custom-select w-75" id="commun">
                </select>
              </div>
              
              <div class="col-md-12 form-group p_star">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="city"
                  name="city"
                  required
                />
              </div>
              <div class="col-md-12 form-group">
                <input
                  required
                  type="text"
                  class="form-control"
                  id="zip"
                  name="zipcode"
                  placeholder="Postcode/ZIP"
                />
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  required
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Address"
                  name="address"
                />
              </div>
              <div class="col-md-12 form-group">
                {% if not user.is_authenticated %}
                <div class="creat_account">
                  <input type="checkbox" id="f-option2" name="selector" />
                  <label for="f-option2">Create an account?</label>
                </div>
                {% endif %}
              </div>
             
              <div  class="col-md-12" class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <div 
              class="col-md-12"
              style="width: 100%">
                <button
                  style="width: 200px"
                  class="primary-btn btn-checkout my-4"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product <span>Total</span></a>
                </li>
                {% for item in items %}
                <li>
                  <a href="{% url 'single-product' item.product.id  %}"
                    >{{item.product.name}}<span class="middle"
                      >x{{item.quantity}}</span
                    >
                    <span class="last">${{item.product.price}}</span></a
                  >
                </li>
                {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal <span>${{order.get_cart_total}}</span></a>
                </li>
                <li>
                  <a href="#">Shipping <span>Flat rate: $50.00</span></a>
                </li>
                <li>
                  <a href="#">Total <span>${{order.get_cart_total}}</span></a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" />
                  <label for="f-option5">Check payments</label>
                  <div class="check"></div>
                </div>
                <p>
                  Please send a check to Store Name, Store Street, Store Town,
                  Store State / County, Store Postcode.
                </p>
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Paypal </label>
                  <div class="check"></div>
                </div>
                <p>
                  Pay via PayPal; you can pay with your credit card if you don’t
                  have a PayPal account.
                </p>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>
              <a class="primary-btn" href="#">Proceed to Paypal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
   
  </div>
</section>
{% endblock content %}
