{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="banner my-3">

    <div class="container">

      <div class="slider-container has-scrollbar">
{% for img in imgs_banner %}
        <div class="slider-item">
          <img src="{{img.image.url}}" alt="women's latest fashion sale" class="banner-img">

          <div class="banner-content">

            <p class="banner-subtitle">{{img.category}}</p>

            <h2 class="banner-title">{{img.titel}}</h2>

            <p class="banner-text">
              Commence à partir de  <b>{{img.price}}</b> DA
            </p>

            <a href="{% url 'products' %}" class="banner-btn">Shop now</a>

          </div>

        </div>
{% endfor %}
      </div>

    </div>

  </section>




  <!--
    - CATEGORY
  -->

  <div class="category">

    <div class="container">

      <div class="category-item-container has-scrollbar">
{% for cat in category_sub %}
        <div class="category-item">

          <div class="category-img-box">
            <img src="{{cat.image.url}}" alt="dress & frock" width="30">
          </div>

          <div class="category-content-box">

            <div class="category-content-flex">
              <h3 class="category-item-title">{{cat.name}}</h3>

              <p class="category-item-amount">(53)</p>
            </div>

            <a href="#" class="category-btn">Show all</a>

          </div>

        </div>
        {% endfor %}
      </div>

    </div>

  </div>


<!-- End banner Area -->

<!-- start features Area -->
{% comment %} <section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon1.png'%}" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon2.png'%}" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon3.png'%}" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon4.png'%}" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- end features Area -->


<div class="container">
  <div class="product-minimal">

  <div class="product-showcase">

    <h2 class="title">New Arrivals</h2>

    <div class="showcase-wrapper has-scrollbar">

      <div class="showcase-container">
{% for product in new_arrival %}
        <div class="showcase">
          <a href="#" class="showcase-img-box">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">{{product.name}}</h4>
            </a>

            <a href="#" class="showcase-category">{{product.cateogry}}</a>

            <div class="price-box">
              <p class="price">${{product.price}}</p>
              <del>${{product.price}}</del>
            </div>

          </div>

        </div>
        {% endfor %}
      </div>

      <div class="showcase-container">
      
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="#" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">{{product.name}}</h4>
            </a>

            <a href="#" class="showcase-category">{{product.cateogry}}</a>

            <div class="price-box">
              <p class="price">${{product.price}}</p>
              <del>${{product.price}}</del>
            </div>

          </div>

        </div>
        {% endfor %}
      </div>

    </div>

  </div>

  <div class="product-showcase">
  
    <h2 class="title">Trending</h2>
  
    <div class="showcase-wrapper  has-scrollbar">
  
      <div class="showcase-container">
  
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="#" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">{{product.name}}</h4>
            </a>

            <a href="#" class="showcase-category">{{product.cateogry}}</a>

            <div class="price-box">
              <p class="price">${{product.price}}</p>
              <del>${{product.price}}</del>
            </div>

          </div>

        </div>
        {% endfor %}
  
      </div>
  
      <div class="showcase-container">
  
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="#" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">{{product.name}}</h4>
            </a>

            <a href="#" class="showcase-category">{{product.cateogry}}</a>

            <div class="price-box">
              <p class="price">${{product.price}}</p>
              <del>${{product.price}}</del>
            </div>

          </div>

        </div>
        {% endfor %}
      </div>
  
    </div>
  
  </div>

  <div class="product-showcase">
  
    <h2 class="title">Top Rated</h2>
  
    <div class="showcase-wrapper  has-scrollbar">
  
      <div class="showcase-container">
  
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="#" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">{{product.name}}</h4>
            </a>

            <a href="#" class="showcase-category">{{product.cateogry}}</a>

            <div class="price-box">
              <p class="price">${{product.price}}</p>
              <del>${{product.price}}</del>
            </div>

          </div>

        </div>
        {% endfor %}
  
      </div>
  
      <div class="showcase-container">
  
        {% for product in new_arrival %}
        <div class="showcase">
          <a href="#" class="showcase-img-box">
               {% if product.image %}
            <img src="{{product.image.url}}" alt="relaxed short full sleeve t-shirt" width="70" class="showcase-img">
            {% endif %}
          </a>

          <div class="showcase-content">

            <a href="#">
              <h4 class="showcase-title">{{product.name}}</h4>
            </a>

            <a href="#" class="showcase-category">{{product.cateogry}}</a>

            <div class="price-box">
              <p class="price">${{product.price}}</p>
              <del>${{product.price}}</del>
            </div>

          </div>

        </div>
        {% endfor %}
      </div>
  
    </div>
  
  </div>

</div></div>
<!-- Start category Area -->

<!-- End category Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <section class="lattest-product-area category-list">
              <div class="product-main container pt-5">
      
                <h2 class="title">New Products</h2>
              
                <div class="product-grid" id="list_product">
              {% for product in products  %}
                  <div class="showcase">
              
                    <div class="showcase-banner">
              
                      <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                      <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
              
                      <p class="showcase-badge">15%</p>
              
                      <div class="showcase-actions">
              
                        <button class="btn-action">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
              
                        <button class="btn-action">
                          <ion-icon name="eye-outline"></ion-icon>
                        </button>
              
                        <button class="btn-action">
                          <ion-icon name="repeat-outline"></ion-icon>
                        </button>
              
                        <button class="btn-action update-cart"  data-action="add"
                        data-product="{{product.id}}">
                          <ion-icon name="bag-add-outline"></ion-icon>
                        </button>
              
                      </div>
              
                    </div>
              
                    <div class="showcase-content">
              
                      <a href="#" class="showcase-category">{{product.category}}</a>
              
                      <a href="{% url 'single-product' product.id %}">
                        <h3 class="showcase-title">{{product.name}}</h3>
                      </a>
              
                      <div class="showcase-rating">
                        {% if product.avg_rating == 5 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        {% elif product.avg_rating == 4 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
              
                        {% elif product.avg_rating == 3 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
              
                        {% elif product.avg_rating == 2 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
              
                        {% elif product.avg_rating == 1 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        {% else %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        {% endif %}
                      </div>
              
                      <div class="price-box">
                        <p class="price">${{product.price}}</p>
                        <del>${{product.price}}</del>
                      </div>
              
                    </div>
              
                  </div>
                  {% endfor %}
                </div>
              
              </div>
            </section>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Coming Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore
                            magna aliqua.</p>
                    </div>
                </div>
            </div>
            <section class="lattest-product-area category-list">
              <div class="product-main container pt-5">
      
                <h2 class="title">New Products</h2>
              
                <div class="product-grid" id="list_product">
              {% for product in products  %}
                  <div class="showcase">
              
                    <div class="showcase-banner">
              
                      <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                      <img src="{{product.image.url}}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
              
                      <p class="showcase-badge">15%</p>
              
                      <div class="showcase-actions">
              
                        <button class="btn-action">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>
              
                        <button class="btn-action">
                          <ion-icon name="eye-outline"></ion-icon>
                        </button>
              
                        <button class="btn-action">
                          <ion-icon name="repeat-outline"></ion-icon>
                        </button>
              
                        <button class="btn-action update-cart"  data-action="add"
                        data-product="{{product.id}}">
                          <ion-icon name="bag-add-outline"></ion-icon>
                        </button>
              
                      </div>
              
                    </div>
              
                    <div class="showcase-content">
              
                      <a href="#" class="showcase-category">{{product.category}}</a>
              
                      <a href="{% url 'single-product' product.id %}">
                        <h3 class="showcase-title">{{product.name}}</h3>
                      </a>
              
                      <div class="showcase-rating">
                        {% if product.avg_rating == 5 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        {% elif product.avg_rating == 4 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
              
                        {% elif product.avg_rating == 3 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
              
                        {% elif product.avg_rating == 2 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
              
                        {% elif product.avg_rating == 1 %}
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        {% else %}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        {% endif %}
                      </div>
              
                      <div class="price-box">
                        <p class="price">${{product.price}}</p>
                        <del>${{product.price}}</del>
                      </div>
              
                    </div>
              
                  </div>
                  {% endfor %}
                </div>
              
              </div>
            </section>
        </div>
    </div>
</section>
<!-- end product Area -->

<!-- Start exclusive deal Area -->

<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<!-- End brand Area -->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r1.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r2.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r3.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r5.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r6.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r7.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r9.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r10.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-related-product d-flex">
                            <a href="#"><img src="{% static 'img/r11.jpg'%}" alt=""></a>
                            <div class="desc">
                                <a href="#" class="title">Black lace Heels</a>
                                <div class="price">
                                    <h6>$189.00</h6>
                                    <h6 class="l-through">$210.00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg'%}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
