{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="login_box_area section_gap">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{message.tags}}" id="alert">{{message}}</div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner mb-3 ">
                    <h3>Sign Up in to enter</h3>
                    <form class="row login_form  " method="post" id="contactForm">
                        {% csrf_token %}
                        <div class="col-md-12 my-3">
                            <div class="input-group has-validation">
                              <input type="text" name="username" class="form-control w-100 " placeholder="username" id="username" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                               username exists ! Please choose other username.
                              </div>
                         
                            </div>
                          </div>
                          <div class="col-md-12 my-3">
                            <div class="input-group has-validation">
                              <input type="text" name="phone" class="form-control w-100 " placeholder="phone" id="phone" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                               number phone exists ! Please choose other number phone.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 my-3">
                            <div class="input-group has-validation">
                              <input type="password" name="password1" class="form-control w-100 " placeholder="Password" name="password1" id="password1" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                               number phone exists ! Please choose other username.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12 my-3">
                            <div class="input-group has-validation">
                              <input type="password" name="password2" class="form-control w-100 " placeholder="Confirm Password" name="password2" id="password2" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                              <div id="validationServerUsernameFeedback" class="invalid-feedback">
                               number phone exists ! Please choose other username.
                              </div>
                            </div>
                          </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 " >
              <img width="80%" class="my-4" src="{% static 'img/login.svg' %}" />
            </div>
        </div>
    </div>
</section>
{% endblock %}

