{% extends 'dashboard/base.html' %}

{% block content_dashboard %}
<div class="container-fluid py-4">
  <div class="row my-3">
    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">les commandes incomplètes</p>
                <h5 class="font-weight-bolder mb-0">
                  {{orders_no_complete}}
                  <span class="text-danger text-sm font-weight-bolder">+55%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Orders table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Client</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders  %}
                    {% if order.status == "Ordered"  %}

                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                            {% if order.customer.image %}
                          <img src="{{order.customer.image.url}}" class="avatar avatar-sm me-3" alt="user1">

                          {% else %}
                          <img src="https://cdn-icons-png.flaticon.com/512/236/236831.png" class="avatar avatar-sm me-3" alt="user1">


                            {% endif %}
                        </div>
                        <a  href="{% url 'order_detail' order.id %}" class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{order.customer}}</h6>
                          <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                        </a>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{order.customer.phone}}</p>
                      <p class="text-xs text-secondary mb-0">Organization</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-info">Ordered</span>
                      
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{order.date_ordered}}</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Orders table</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Client</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders  %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                            {% if order.customer.image %}
                          <img src="{{order.customer.image.url}}" class="avatar avatar-sm me-3" alt="user1">

                          {% else %}
                          <img src="https://cdn-icons-png.flaticon.com/512/236/236831.png" class="avatar avatar-sm me-3" alt="user1">


                            {% endif %}
                        </div>
                        <a  href="{% url 'order_detail' order.id %}" class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{order.customer}}</h6>
                          <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                        </a>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{order.customer.phone}}</p>
                      <p class="text-xs text-secondary mb-0">Organization</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                        {% if order.status == "Ordered"  %}
                      <span class="badge badge-sm bg-gradient-info">Ordered</span>
                      {% elif order.status == "Shipped" %}
                      <span class="badge badge-sm bg-gradient-warning">Shipped</span>
                      {% elif order.status == "Delivered" %}
                      <span class="badge badge-sm bg-gradient-success">Delivered</span>
                      {% endif %}
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{order.date_ordered}}</span>
                    </td>
                    <td class="align-middle">
                      <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Edit
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content_dashboard %}